<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cinemaniac</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Cinemaniac.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="nav navbar navbar-expand-lg fixed-top position-sticky">
            <div class="container-fluid">
                <a class="navbar-brand gradient-text" asp-area="" asp-controller="Home" asp-action="Index">Cinemaniac</a>
                <button class="navbar-toggler background-gradient" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark gradient-text" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark gradient-text" asp-area="" asp-controller="Home" asp-action="MovieNight">Movie Night</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="
        footer
        mt-5
        fixed-bottom
        text-center
        position-relative
      ">
        <div class="container">
            <a class="btn btn-light btn-floating shadow m-1 background-gradient" href="https://www.facebook.com/"
               role="button" target="_blank" aria-label="Facebook link"><i class="fab fa-facebook-f"></i></a>

            <a class="btn btn-light shadow btn-floating m-1 background-gradient"
               href="https://www.linkedin.com/in/samuel-n%C3%A4sstr%C3%B6m-15563620a/" role="button"
               target="_blank" aria-label="Linkedin link"><i class="fa-brands fa-linkedin"></i></a>

            <a class="btn btn-light shadow btn-floating m-1 background-gradient"
               href="https://github.com/FullstackSammy" role="button" target="_blank" aria-label="Github link">
                <i class="fa-brands fa-github"></i>
            </a>

            <a class="btn bg-light shadow btn-floating m-1 background-gradient" href="https://www.instagram.com/"
               role="button" target="_blank" aria-label="Instagram link"><i class="fab fa-instagram"></i></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
