@model Cinemaniac.Models.Post
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<!-- Masthead for the view -->
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 gradient-text">
                <h1 class="post-title">@Html.DisplayTextFor(model => Model.Title)</h1>
                <p class="post-subtitle">@Html.DisplayTextFor(model => Model.Author) | @Html.DisplayTextFor(model => Model.CreatedOn)</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="https://i.imgur.com/guuktFC.jpg" width="100%">
            </div>
        </div>
    </div>
</div>
<!-- div containing the content of the post -->
<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left top background-gradient">
            <div class="card-body">
                <p class="card-text">
                    @Html.DisplayTextFor(model => Model.Content)
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
 <div>
        @if (SignInManager.IsSignedIn(User))
        {
            <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
            <a asp-action="Index">Back to List</a>
        }
        else
        {
            <a asp-action="Index">Back to List</a>
        }
    </div>
