@model IEnumerable<Cinemaniac.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h2 class="title gradient-text">Your Film Review Blog</h2>
</div>


<div class="container-fluid">
    <div class="row">

        <!-- Reviews previews  -->
        <div class="col-12 mt-3 left">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 background-gradient">
                            <div class="card-body background-gradient">
                                <div class="image-container background-gradient">
                                    <img class="card-img-top"
                                         src="https://i.imgur.com/guuktFC.jpg" height="250" />
                                    <img class="card-img-top" src=" {{ post.featured_image.url }}">
                                    <div class="image-flash">
                                        <p class="author text-white">Author: @Html.DisplayTextFor(modelItem => item.Author)</p>
                                    </div>
                                </div>
                                <a asp-action="Details" asp-route-id="@item.Id">
                                    <h2 class="card-title text-black">@Html.DisplayTextFor(modelItem => item.Title)</h2>
                                    <p class="text-white">@Html.DisplayTextFor(modelItem => item.Excerpt)</p>
                                </a>
                                <hr />
                                <p class="card-text h6"></p>
                                <p class="card-text h6">
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row">
            </div>
        </div>
    </div>
</div>
